/* General */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#page > a {
    display: none;
}

.page-title {
    display: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: inherit;
}

a {
    transition: color .2s ease-in;
}

a:hover {
    color: #fa4814;
}

.w-button:hover {
    color: #fa4814;
    background-color: #ffffff;
}

a:active {
    color: #fa4814 !important;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

.heading {
    bottom: -54px;
    padding-right: 10px;
}

.div-block-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    min-height: 80vh;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#content > div.section-8 > a.button-4.w-button,
#content > div.section-8 > a.button-5.w-button {
    color: #ffffff;
}

#content ul, #content ol {
    margin: 2px 0 20px 0;
}

#content ul li {
    list-style-image: url('../assets/images/checkmark.png');
}

#content li {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

#content > div.section-12 > div > h1,
#content > div.section-14 > div > div.w-slider-mask > div.slide-5.w-slide > div > h1.h3.paragraph {
    margin-bottom: 20px;
}

.slant-top-and-bottom {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.slant-top {
    padding-top: 130px;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.slant-top-no-padding {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.slant-bottom {
    padding-bottom: 130px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.slant-bottom-no-padding {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.w-nav-brand {
    height: 90px;
}

.navbar {
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

.officer-login {
    position: relative;
    top: -20px;
    right: -220px;
    font-size: 14px !important;
}

#menu-item-85 {
    margin-right: -180px;
}

.officer-login a {
    padding: 0;
}

.officer-login > a:after {
    content: "";
    display: block;
    background: url('../assets/images/officer-login-chevron.png') no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
    float: right;
    margin-left: 10px;
}

.admin-bar .navbar {
    top: 32px;
}

#page {
    font-family: 'Rubik', sans-serif;
}

#primary-menu {
    list-style: none;
}

#primary-menu li {
    margin-top: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
}

#primary-menu li:last-child {
    margin-top: 32px;
    padding: 0 !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    color: #ffffff !important;
}

#primary-menu li:last-child > a {
    padding: 14px 20px;
}

.w-button {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}

#content > div.section-8 > a.button-4.w-button:hover, #content > div.section-8 > a.button-5.w-button:hover {
    color: #fa4814;
}

.w-icon-nav-menu:before {
    color: #ffffff;
}

.section-18 {
    background-size: cover;
}

.menu-menu-2-container {
    width: 100%;
}

#footer-menu {
    padding-left: 0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

#footer-menu a:visited {
    color: #fa4814;
}

#footer-menu li {
    margin-top: 9px;
}

#footer-menu li a {
    text-decoration: none;
}

.footercolumn {
    margin-left: 5vw;
    margin-right: 5vw;
}

.section-8 {
    padding: 20px 0;
}

.footer {
    min-height: 30vh;
}

.slide-bullets {
    background-image: none;
}

#content > div.section-14.slidersection > div > div.w-slider-mask > div.w-slide > div > div > div > h1 {
    margin-left: 0;
}

/*  Home */

#content > div.pageheader > div > a:hover {
    color: #fa4814;
}

.section-7 {
    margin: 40px 0;
}

#content > div.pageheader > div > a {
    color: #ffffff;
}

#content > div.pageheader > div > h1,
#content > div.section-2 > div > div:nth-child(1) > h2 {
    text-transform: uppercase;
}

#content > div.sliderpage > div > div.w-slider-mask > div.slide-2.w-slide > div .h2,
#content > div.sliderpage > div > div.w-slider-mask > div.slide-2.w-slide > div .h3 {
    text-align: left;
    margin: 0;
}

#content > div.section-2.slant-bottom > div > div.text-block {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    width: 60%;
    margin: 25px auto;
}

#content > div.section-5.slant-top > div > p {
    color: #000000;
    font-weight: 300;
    margin: 20px 0;
}

#content > div.sliderpage {
    padding-top: 130px;
}

#content > div.section-5.slant-top > div > p {
    width: 50%;
}

#content > div.section-5.slant-top > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#content > div.section-5.slant-top > div > h2 {
    margin-bottom: 0;
}

#content > div.section-5.slant-top > div > h1 {
    margin-top: 0;
}

.image-4 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.image-12 {
    height: 100%;
}

.w-slider {
    background: #ffffff;
}

.section-11 {
    text-align: center;
}

#content > div.section-5.slant-top > div {
    max-width: 80vw;
}

#content > div.sliderpage > div > div.w-slider-mask > div > div > p {
    margin-bottom: 40px;
}

#content > div.sliderpage > div > div.w-slider-mask > div > div > h3 {
    margin-bottom: 15px !important;
}

.home #content > div:nth-child(3) {
    margin-bottom: -140px;
}

#content > div.section-5.slant-top > div > a:hover {
    background-color: #000000 !important;
    color: #ffffff !important;
}

#content > div.section-5.slant-top > div {
    padding: 20vh 0;
}

.section-7 h2, .section-7 h1 {
    width: 100%;
}

#content > div.section-11 > div > div > div > img {
    min-height: 250px;
    max-width: 260px;
}

#content > div.section-11 > div {
    max-width: 1040px;
}

#content > div.section-11 > div > div > div {
    padding: 0 45px;
}

#content > div.section-11 > div > div > div > h1 {
    min-height: 80px;
}

#content > div.section-12 > div > h1 {
    margin-bottom: 40px;
}

#content > div.section-11 > div > div {
    margin-bottom: 120px;
}

#content > div.pageheader > div > h1,
#content > div.pageheader > div > img {
    margin-top: 10px;
}

.section-13 {
    min-height: 50vh;
}

#content > div.section-12 > div > ul > li {
    margin-top: 25px;
}

#content > div.section-11 > div > div > div > h1 {
    font-size: 20px;
}

.div-block-8 {
    padding-bottom: 10px;
    height: auto;
}

#content > div.section-14 > div > div.w-slider-mask > div > div > h1.dark.h1.left {
    margin-bottom: 60px;
}

.quote-sub-title {
    text-align: left;
}

/* About */

.section-17 {
    max-height: none !important;
    min-height: 0;
    height: auto;
    padding-bottom: 40px;
}

#content > div.section-17 > div > h1.h2.orange {
    text-align: left;
}

.section-17 h1, .section-17 p {
    width: 100% !important;
    text-align: left;
}

#content > div.section-17 > div > img {
    margin-top: 30px;
    margin-bottom: 35px;
}

.section-17 .h3 {
    max-width: none;
}

.section-7 {
    width: 100%;
}

#content > div.section-7 > div {
    margin: 0 auto;
}

#content > div.section-15 > div.text-block {
    font-size: 24px;
    font-weight: 100;
    line-height: 1.2;
    max-width: 50%;
}

#content > div.section-7 > div > h2, #content > div.section-7 > div > h1 {
    margin: 0 !important;
    text-align: left;
    padding: 0 !important;
}

.div-block-9 {
    height: auto;
    min-height: 0;
}

#content > div.section-17 > div > h1.h2.orange {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#content > div.section-15 > div.div-block-7 > h2 {
    padding-right: 0;
    padding-left: 35px;
}

.page-id-11 #content > div.section-15 > div.div-block-7 > h2 {
    padding-left: 5px;
}

.page-id-13 .section-7 > h1, .page-id-13 .h2.orange.mobile {
    margin-left: 0;
    text-align: left !important;
}

#content > div.section-17 > div > p {
    max-width: 100%;
}

#content > div.section-15 > div.div-block-7 > h2 {
    text-transform: uppercase;
}

/* Our Solution */

#content > div.section-14 > div > div.w-slider-arrow-left {
    margin-left: 50px;
}

#content > div.section-14 > div > div.w-slider-arrow-right {
    margin-right: 50px;
}

#content > div.section-10 > p, #content > div.section-13 > p {
    text-align: center;
}

#content > div.section-10 {
    text-align: center;
    min-height: 45vh;
}

#content > div.section-11 > div > div > div > img {
    max-width: 75%;
}

#content > div.section-11 > div > div > div:nth-child(2) > img {
    max-width: 43.5%;
}

#content > div.section-11 > div > div > div:nth-child(3) > img {
    padding: 5px;
}

#content > div.section-13 > h1.h2.orange {
    margin-bottom: 0;
}

#content > div.section-13 > img {
    margin-top: 40px;
    margin-bottom: 20px;
}

#content > div.section-15 > h1 {
    margin-bottom: 40px;
}

#content > div.section-10 {
    box-shadow: none;
}

.slide-bullets {
    min-height: 90vh;
}

/* Blog */
.blog-post .h1,
.blog-post .h2,
.blog-post .h3,
#content > div.section-14 > div > div.w-slider-mask > div.slide-5.w-slide > div .h1,
#content > div.section-14 > div > div.w-slider-mask > div.slide-5.w-slide > div .h2,
#content > div.section-14 > div > div.w-slider-mask > div.slide-5.w-slide > div .h3 {
    text-align: left;
}

.blog-post .h1,
.blog-post .h2,
.blog-post .h3,
#content > div.section-14 > div > div.w-slider-mask > div.slide-5.w-slide > div .h1,
#content > div.section-14 > div > div.w-slider-mask > div.slide-5.w-slide > div .h2,
#content > div.section-14 > div > div.w-slider-mask > div.slide-5.w-slide > div .h3 {
    margin-left: 0;
    margin-right: 0;
}

#content > div.section-14 > div > div.w-slider-mask > div > div > div > div > h1.h3.paragraph {
    margin-top: 50px;
}

.section-14 {
    min-height: 80vh;
}

.section-19 {
    min-height: 30vh;
}

#main > div.section-19 > div > p {
    text-align: left;
}

.blog-post > .h2 {
    margin-bottom: 20px;
}

.blog-post > .h2 > a {
    text-decoration: none;
    font-size: 32px;
}

.blog-post > .h2 > a:visited {
    color: #fa4814;
}

#post-1 > div > footer > span.edit-link {
    display: none;
}

.blog-post .entry-meta {
    margin: 30px 0;
    font-size: 24px;
    text-transform: uppercase;
}

.blog-post .entry-meta a {
    text-decoration: none;
}

#post-93 > div > footer > span.edit-link {
    margin-left: 7px;
}

#main > div.section-20 > div > div.w-col.w-col-4 > div.div-block-12 > h1 {
    margin-left: 0;
}

.entry-footer {
    margin-top: 20px;
}

#main > div.section-20 > div > div.w-col.w-col-4 > div.blogpostsmall > h1 {
    margin-top: 40px;
}

.blog-post > .h2 {
    font-size: 32px;
}

.blog-post:first-child {
    margin-top: 40px;
}

span.posted-on {
    line-height: 1.1;
}

.div-block-12 {
    width: 100%;
}

.blogpostsmall {
    margin-bottom: 20px;
}

.blogpostsmall a {
    text-decoration: none;
}

.blogpostsmall a > h1 {
    font-size: 24px;
    text-align: left;
    margin-left: 0;
    margin-top: 35px;
    font-weight: 500;
}

.entry-content > p {
    padding: 40px 0;
}

#main > div.section-20 > div > div.blogcolumn-mobile.w-col.w-col-8 > nav > h2 {
    display: none;
}

#post-93 > div > div.entry-meta > span.posted-on > a > time.updated {
    display: none;
}

.orangebtn {
    color: #fa4814 !important;
}

.orangebtn:hover {
    color: #ffffff !important;
    background-color: #fa4814 !important;
}

/* Contact */
.w-form {
    width: 80%;
}

#content > div.section-17 > div {
    margin-top: 40px;
}

.form-block {
    max-width: none;
    margin: 0 auto;
}

span.wpcf7-list-item {
    margin: 0;
    margin-right: 10px;
}

#wpcf7-f106-o1 > form > p {
    text-align: right;
}

.wpcf7-form input[type=text], .wpcf7-form textarea, .wpcf7-form input[type=email], .wpcf7-form input[type=tel] {
    letter-spacing: 2px;
    padding: 15px;
    border: 2px #979797 solid;
}

.wpcf7-form input[type=text], .wpcf7-form input[type=email], .wpcf7-form input[type=tel] {
    height: 50px;
}

#wpcf7-f106-o1 > form > div:nth-child(5) > div > span > textarea {
    width: 100%;
}

#wpcf7-f106-o1 > form > p {
    text-align: right !important;
}

#wpcf7-f106-o1 > form > p > span {
    display: none;
}

#wpcf7-f106-o1 > form > p > input {
    margin-right: 10px;
}

#content > div.section-17 > div > h1.center.h2.orange,
#content > div.section-17 > div > h1.center.dark.h1 {
    padding-left: 10px;
}

#categories-2 > h2 {
    display: none;
}

#categories-2 > ul > li.cat-item {
    margin: 20px 0;
}

#categories-2 > ul > li > a {
    text-decoration: none;
}

.post-edit-link {
    display: none;
}

#content > div.section-17 > div > h1.center.h2.orange, #content > div.section-17 > div > h1.center.dark.h1 {
    text-align: center;
}

#main > div.section-20 > div > div.column-2.w-col.w-col-4,
#main > div.section-20 > div > div.w-col.w-col-4 {
    padding-top: 38px;
}

#content > div.section-17 > div > h1.center.h2.orange {
    margin-bottom: 0;
}

#content > div.section-17 > div > h1.center.dark.h1 {
    margin-top: 5px;
    margin-bottom: 25px;
}

.contactButtonClicked {
    background-color: #fa4814 !important;
    color: #ffffff !important;
}

#wpcf7-f106-o1 input[type="radio"] {
    display: none;
}

/* Archive */
.utility-page-content {
    color: #ffffff;
}

@media screen and (max-width: 1659px) {
    #wpcf7-f106-o1 > form > div > div > div > span > span > span.wpcf7-list-item,
    #wpcf7-f106-o1 > form > div:nth-child(4) > div:nth-child(2) > div > span > span > span.wpcf7-list-item {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    #wpcf7-f106-o1 > form > div:nth-child(4) > div > div > span > span > span.wpcf7-list-item.first.w-button.togglebtn > span,
    #wpcf7-f106-o1 > form > div:nth-child(4) > div:nth-child(1) > div > span,
    #wpcf7-f106-o1 > form > div:nth-child(4) > div:nth-child(2) > div > span {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .slant-top-and-bottom {
        padding: 130px 0;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    }

    .slant-top {
        padding-top: 130px;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    }

    .slant-top-no-padding {
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    }

    .slant-bottom {
        padding-bottom: 130px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    }

    .slant-bottom-no-padding {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    }
}

@media screen and (max-width: 767px) {

    /* General */
    .paragraph-5 {
        width: 100%;
        padding: 0 20px;
    }

    .slant-top-and-bottom {
        padding: 130px 0;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    }

    .slant-top {
        padding-top: 130px;
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    }

    .slant-top-no-padding {
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    }

    .slant-bottom {
        padding-bottom: 130px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    }

    .slant-bottom-no-padding {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    }

    .w-slider, .sliderpage, .w-slider-mask, .w-slide, .slide-testimonail {
        min-height: 50vh;
        height: auto;
    }

    .div-block-4 {
        width: 100%;
    }

    #content > div.section-8 > h1:nth-child(3) {
        display: none;
    }

    #content > div.section-8 > a.button-5.w-button {
        margin-top: 20px;
    }

    /* Mobile Menu */
    #primary-menu {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
        text-align: left;
    }

    .w-nav-button.w--open {
        background-color: #fa4814;
    }

    .w-nav-button {
        position: fixed;
        top: 20px;
        right: 0;
    }

    #primary-menu li {
        width: 100%;
    }

    #primary-menu li:last-child {
        text-align: center;
    }

    .navbar {
        background: rgba(0, 0, 0, .9);
    }

    .w--nav-menu-open {
        background: rgba(0, 0, 0, .9);
    }

    .officer-login {
        position: relative;
        top: 0;
        right: 0;
        padding: 20px !important;
        font-size: 14px !important;
    }

    .heading {
        top: 35px;
    }

    /* Home */
    #content > div.pageheader > div {
        padding-top: 20px;
    }

    #content > div:nth-child(3) > div {
    }

    #content > div.section-5.slant-top > div {
        text-align: center;
    }

    #content > div.section-5.slant-top > div > a {
        float: none;
        margin-bottom: 30px;
    }

    #page > div.navbar.w-nav > div.container.w-container > a {
        position: fixed;
        top: 5px;
        left: 80px;
    }

    #content > div.section-5.slant-top > div > p {
        width: 100%;
    }

    #content > div.section-2.slant-bottom > div > div.text-block {
        width: 80%;
    }

    #content > div.section-5.slant-top > div {
        align-items: center;
    }

    #content > div:nth-child(3) > div {
        margin-bottom: 80px;
    }

    #content > div.section-7 > h2 {
        margin-top: 40px;
    }

    .image-4 {
        width: 90%;
        min-width: 90%;
        max-width: 90%;
    }

    #content > div.section-7 > h2 {
        margin-left: 0;
        margin-right: 0;
    }

    #content > div:nth-child(3) {
        margin-bottom: -70px;
    }

    #content > div.pageheader > div > p,
    #content > div.pageheader > div > h1 {
        text-align: center;
    }

    #content > div.section-2.slant-bottom > div > h1 {
        padding: 0 10px;
    }

    #content > div.section-5.slant-top > div {
        padding: 5vh 0;
    }

    .quote-sub-title {
        text-align: center;
    }

    /* About */

    .section-17 .h3 {
        text-align: center;
    }

    .section-17, .section-7 {
        text-align: center !important;
    }

    .section-17 {
        max-height: inherit !important;
    }

    #content > div.section-17 > div > h1.dark.h1.left {
        text-align: center;
    }

    #content > div.section-17 {
        padding: 40px 0;
    }

    #content > div.section-15 > div.div-block-7 > h2 {
        padding-right: 0;
        padding-left: 20px;
    }

    #content > div.section-15 > div.text-block {
        max-width: 80%;
    }

    #content > div.section-17 > div {
        margin-top: 0;
    }

    /* Our Solution */

    .div-block-8 {
        padding-bottom: 0;
    }

    #content > div.section-14 > div > div.w-slider-arrow-left, .w-icon-slider-left {
        margin-left: 0 !important;
    }

    #content > div.section-14 > div > div.w-slider-arrow-right, .w-icon-slider-right {
        margin-right: 0 !important;
    }

    .section-15 {
        min-height: 45vh;
    }

    .section-12 {
        background-image: none !important;
    }

    #content > div.section-10 {
        margin-top: 40px !important;
    }

    #content > div.section-13, #content > div.section-14 {
        padding-top: 40px;
    }

    #content > div.section-12 > div {
        padding-left: 35px;
    }

    #content > div.section-14 > div > div.w-slider-mask > div > div {
        max-width: none;
    }

    #content > div.section-10.slant-top-and-bottom {
        padding-top: 80px;
    }

    #content > div.section-12 > div, #content > div.section-14 > div > div.w-slider-mask > div > div {
        padding: 90px 0;
    }

    #content > div.section-11 > div > div > div {
        padding: 0 10px;
    }

    #content > div.section-11 > div > div > div > img {
        max-width: 80%;
    }

    #content > div.section-17 > div > img {
        margin: 40px auto;
    }

    #content > div.section-15 > div.div-block-7 > h2 {
        font-size: 100%;
    }

    #content > div.section-17 > div > h1.h2.orange,
    .section-17 h1, .section-17 p,
    #content > div.section-7 > div > h2,
    #content > div.section-7 > div > h1 {
        text-align: center;
    }

    #content > div.section-10 > p, #content > div.section-13 > p {
        text-align: center;
    }
    
    #content > div.section-15 > div.div-block-7 > img {
        width: 90vw;
    }

    /* Blog */
    #main > div.section-20 > div > div.column-2.w-col.w-col-4 {
        padding: 0 20%
    }

    /* Contact */
    #wpcf7-f106-o1 > form > div:nth-child(4) > div:nth-child(1) > div > span > span > span.wpcf7-list-item.w-button.togglebtn,
    #wpcf7-f106-o1 > form > div:nth-child(4) > div:nth-child(2) > div > span > span > span.wpcf7-list-item.w-button.togglebtn {
        margin: 10px 0;
    }

    .wpcf7-form input[type=text], .wpcf7-form textarea, .wpcf7-form input[type=email], .wpcf7-form input[type=tel] {
        margin-bottom: 0;
    }

    #wpcf7-f106-o1 > form > div:nth-child(2) > div:nth-child(1) {
        margin-bottom: 0;
    }

    .w-form {
        width: 100%;
    }

    #wpcf7-f106-o1 .w-button.togglebtn {
        width: 100%;
        text-align: center;
    }

    .page-template-page-contact #content > div.section-8 {
        margin-bottom: 0;
    }

    .image-12 {
        height: auto;
    }

    .slide-testimonail {
        text-align: center;
        flex-direction: column-reverse;
    }

    .sliderquote, .quote-name, .quote-sub-title {
        margin: 10px auto;
    }

    .section-7 {
        margin: 0;
    }

    #content > div.sliderpage {
        padding-top: 30px;
    }

    .slide-testimonail {
        padding-bottom: 30px;
    }

}